<body>
    <header>
        <div class="logo-container">
            <img src="../../assets/Imagenes/LOGO2.png" alt="Logo Figura" class="logo-figura" (click)="regresar()">
            <img src="../../assets/Imagenes/UNIMed.png" alt="Logo Texto" class="logo-texto" (click)="regresar()">
        </div>
    </header>
    <div class="container">  
        <main class="profile-content">
        <div class="sidebar">
            <div class="profile-picture">
                <img [src]="profileImage" alt="Foto de perfil" id="profileImage">
            </div>
            <button class="sidebar-button" routerLink="/perfil-paciente">Datos Personales</button>
            <button class="sidebar-button active">Próxima Cita</button>
        </div>
        
        <div class="details-panel">
            <h2>Reprogramar Cita...</h2>
            <hr>
            <div class="appointment-schedule">
                <div class="availability-section">
                    <div class="availability-content">
                        <div id="calendar-container" class="calendar"></div>
                        
                        <div class="time-slots">
                          <button class="time-slot" *ngFor="let horario of horarios" 
                                  [class.unavailable]="!horario.disponible"
                                  [class.selected]="horario.seleccionado"
                                  (click)="seleccionarHorario(horario)">
                            {{ horario.hora }}
                          </button>
                        </div>
                    </div>                  
                </div>
            </div>
            <div class="form-buttons">
                <button id="btn-regresar" class="btn-regresar" (click)="regresar()">Regresar</button>
                <button id="btn-confirmar" class="btn-confirmar" (click)="confirmarReprogramacion()">Confirmar</button>
            </div>
        </div>
        </main>
    </div>
</body>
