<body>
    <div class="container">
        <div class="logo">
            <img src="../../assets/Imagenes/UNIMed.png" alt="UNIMed Logo" class="unimed-logo">
        </div>
        <div class="confirmation-box">
            <h2>Mensaje de confirmación</h2>
            <p>Felicidades, su cuenta ha sido creada y a partir de ahora podrá hacer uso de todos los beneficios que ofrecemos en la plataforma.</p>
            <div class="button-group">
                <button (click)="onConfigureProfile()" class="btn-configure">Configurar perfil</button>
                <button (click)="onGoHome()" class="btn-home">Inicio</button>
            </div>
        </div>
    </div>
</body>
