<body>
    <header>
        <div class="logo-container">
            <img src="../../assets/Imagenes/LOGO2.png" alt="Logo Figura" class="logo-figura" (click)="navigateToHome()">
            <img src="../../assets/Imagenes/UNIMed.png" alt="Logo Texto" class="logo-texto" (click)="navigateToHome()">
        </div>
    </header>
    <div class="container">
        <div class="content">
            <h2>{{ especialidad }}</h2>

            <div class="doctors">
                <!-- Iterar sobre los doctores -->
                <div class="doctor" *ngFor="let doctor of doctors">
                    <img src="../../assets/Imagenes/doc.png" alt="Doctor" (click)="openEditModal(doctor)">
                    <button>{{ doctor.name }}</button>
                    <!-- Botón para eliminar al médico -->
                    <button class="delete-button" (click)="deleteDoctor(doctor.id)">Eliminar</button>
                </div>                         
                <!-- Botón para añadir un nuevo doctor -->
                <div class="doctor add" (click)="openAddModal()">
                    <img src="../../assets/Imagenes/+.png" alt="Añadir Médico">
                </div>
            </div>
        </div>
    </div>

        <!-- Modal para editar médico -->
    <div id="editModal" class="modal" *ngIf="editModalOpen">
        <div class="modal-content">
            <span class="close" (click)="closeEditModal()">&times;</span>
            <h3>Editar Médico</h3>
            <input type="text" [(ngModel)]="selectedDoctor.name" placeholder="Nombre del Médico">
            <div *ngFor="let day of days">
                <label>
                    <input type="checkbox" [(ngModel)]="day.checked">
                    {{ day.name }}
                </label>
                <div *ngIf="day.checked">
                    <input type="time" [(ngModel)]="day.startTime" placeholder="Hora inicio">
                    <input type="time" [(ngModel)]="day.endTime" placeholder="Hora fin">
                </div>
            </div>
            <button (click)="saveEdit()">Guardar Cambios</button>
        </div>
    </div>

    <!-- Modal para añadir nuevo médico -->
    <div id="addModal" class="modal" *ngIf="addModalOpen">
        <div class="modal-content">
            <span class="close" (click)="closeAddModal()">&times;</span>
            <h3>Añadir Nuevo Médico</h3>
            <input type="text" [(ngModel)]="newDoctor.name" placeholder="Nombre del Médico">
            <input type="email" [(ngModel)]="newDoctor.email" placeholder="Correo" />
            <input type="password" [(ngModel)]="newDoctor.password" placeholder="Contraseña">
            <div *ngFor="let day of days">
                <label>
                  <input type="checkbox" [(ngModel)]="day.checked">
                  {{ day.name }}
                </label>
                <div *ngIf="day.checked">
                  <input type="time" [(ngModel)]="day.startTime" placeholder="Hora inicio">
                  <input type="time" [(ngModel)]="day.endTime" placeholder="Hora fin">
                </div>
            </div>
              
            <button (click)="addDoctor()">Añadir Médico</button>
        </div>
    </div>

</body>
