<body> 
    <div class="container">
        <div class="logo">
            <img src="../../assets/Imagenes/UNIMed.png" alt="UNIMed Logo" class="unimed-logo">
        </div>
        <div class="register-box">
            <h2><b>Crea una nueva cuenta</b></h2>
            <hr>
            <form #registerForm="ngForm">
                <div class="input-group">
                    <input type="text" name="nombre" [(ngModel)]="nombre" placeholder="Nombre" required>
                    <input type="text" name="apellidos" [(ngModel)]="apellidos" placeholder="Apellidos">
                </div>
                <div class="input-group">
                    <input type="date" name="fechaNacimiento" [(ngModel)]="fechaNacimiento" placeholder="Fecha de Nacimiento" required>
                    <input type="text" name="codigo" [(ngModel)]="codigo" placeholder="Código" required>
                </div>
                <input type="email" name="correo" [(ngModel)]="correo" placeholder="Correo Universitario" pattern="^[a-zA-Z0-9._%+-]+@uni\.pe$" required>
                <input type="password" name="contrasena" [(ngModel)]="contrasena" placeholder="Contraseña" minlength="6" required>
                <button type="button" class="btn-register" [disabled]="!registerForm.valid" (click)="onRegister()">Registrarse</button>
                <button type="button" class="btn-back" (click)="onBack()">Regresar</button>
            </form>            
        </div>
    </div>
</body>
